<nav class="navbar navbar-dark bg-primary">
   <span class="navbar-text" style= " font:bolder; font-size: 25px; color: black">
      Welcome to Netlify Heroku URL Shorten App
    </span>
  </nav>
<div style= "padding-left:5%;margin-top:5%">Enter Your URL :
<input type="text" [formControl]="urlEnter" placeholder="Enter your URL"
 autocomplete="off" style= "width:50%"/>
</div>
&nbsp;
<div style= "padding-left:30%">
<button (click)="onClick()" class="btn btn-primary">Submit</button>
&nbsp;
<button (click)="onClickReset()" class="btn btn-success">Reset</button>
</div>
<div style= "padding-left:5%;margin-top:3%">
<div>Shorten :
<input type="text" [formControl]="UrlShow" placeholder="Short URL" style= "width:50%"/>
</div>
<!-- <button onclick="myFunction()">Copy text</button> -->
</div>


